body {
    background-color: #b0c4de;
}
header{
  height:450px;
  background: ccc;
}
.logo{
  size:50px;
  background:999;
}
nav a{
  display: inline-block;
  margin-left:20px;
  font-weight:700;
  text-transform: uppercase;
  font-size: 14px;
  color:rgba(0,0,0,0.7);
}